.preloader{
    position: absolute;
    top: 50vh;
    left: 50vw;
    width: 100px;
    height: 100px;
    border: 1px solid red;
    z-index: 9999;
}

.upper-left{
    position: absolute;
    bottom: 55%;
    right: 55%;
    width: 30%;
    height: 30%;
    background-color: #ff9955;
    border-radius: 80% 0 0 0;
    animation-name: upper-left-anim;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.upper-right{
    position: absolute;
    width: 40%;
    height: 40%;
    left: 48%;
    top: 0;
    background-color: #a7bf87;
    border-radius: 0 80% 0 0;
    animation-name: upper-right-anim;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.lower-right{
    position: absolute;
    width: 50%;
    height: 50%;
    bottom: 0;
    right: 0;
    background-color: #a6c0da;
    border-radius: 0 0 80% 0;
    animation-name: lower-right-anim;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.lower-left{
    position: absolute;
    width: 40%;
    height: 40%;
    right: 55%;
    bottom: 10%;
    background-color: #d68ea4;
    border-radius: 0 0 0 80%;
    animation-name: lower-left-anim;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.clock-pointer{
    background-color: black;
    position: absolute;
    height: 50%;
    width: 5%;
    top: 0;
    left: 47.5%;
    border-radius: 5px;
    animation-name: clock-pointer-anim;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


@keyframes upper-left-anim {
  0%   {background-color: rgba(255, 153, 85, 0);}
  25%  {background-color: rgba(255, 153, 85, 0);}
  50%  {background-color: rgba(255, 153, 85, 0);}
  100% {background-color: #ff9955; border: 1px solid black;}
}

@keyframes upper-right-anim {
  0%   {background-color: #a7bf87; border: 1px solid black;}
  25%  {background-color: rgba(167, 191, 135, 0);}
  50%  {background-color: rgba(67, 191, 135, 0);}
  100% {background-color: rgba(67, 191, 135, 0)}
}

@keyframes lower-right-anim {
  0%   {background-color: rgba(166, 192, 218, 0);}
  25%  {background-color: #a6c0da; border: 1px solid black;}
  50%  {background-color: rgba(166, 192, 218, 0);}
  100% {background-color: rgba(166, 192, 218, 0);}
}

@keyframes lower-left-anim {
  0%   {background-color: rgba(214, 142, 164, 0);}
  25%  {background-color: rgba(214, 142, 164, 0);}
  50%  {background-color: #d68ea4; border: 1px solid black;}
  100% {background-color: rgba(214, 142, 164, 0);}
}

@keyframes clock-pointer-anim{
  0%   {transform: rotate(0deg); transform-origin: bottom center;}
  25%  {transform: rotate(90deg); transform-origin: bottom center;}
  50%  {transform: rotate(180deg); transform-origin: bottom center;}
  100% {transform: rotate(270deg); transform-origin: bottom center;}
}