
@font-face {
	font-family: Roboto;
	src: url('/static/fonts/Roboto-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}


body{
    background-color: white;
    font-family: Roboto;
	/*color: #d9d5b2;*/
	color: black;

	width: 100%;
	height: 100%;
	position: relative;
	display: block;
	margin: 0;

	/*background-image: url('/static/img/bg.jpg');*/
	/*background-size: cover;
	background-repeat: no-repeat;*/

	overflow: hide;

    /* NOSELECT! */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}


.app{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #cce8ca;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


.user-sidebar{
    color: white;
    background-color: #561e96;
    /*86, 30, 150*/
    height: 90vh;
    width: 30vw;
    position: absolute;
    padding-top: 0;
    padding-left: 20px;
    top: 0;
    left: -30vw;
    box-shadow: 5px 0px 12px 2px #000000;
    transition: 0.6s;
    z-index: 8888;
}


.user-sidebar:hover{
    left: 0;
}


.user-sidebar:hover .logo{
    width: 6vw;
    height: 6vw;
    top: 10px;
    right: 10px;

    box-shadow: none;
    margin: 0;
	background-color: #561e96;
	border-radius: 50%;
}


.logo{
    background-image: url('/static/img/icons/logo_medium.png');
	background-size: contain;
	background-repeat: no-repeat;

	margin: 15px;
	background-color: #561e96;
	border-radius: 50%;
	box-shadow: 5px 0px 12px 2px #000000;

	width: 4vw;
    height: 4vw;
    padding: 2px;
    margin: 2px;
    position: absolute;
    top: 10px;
    right: -40px;
    transition: 0.6s;
}

@media only screen and (max-width: 600px) {
  .logo {
    right: -5vw;
    width: 8vw;
    height: 8vw;
  }
  .user-sidebar{
    font-size: 0.8rem;
    width: 80vw;
    left: -80vw;
  }
  .user-sidebar:hover .logo{
    width: 12vw;
    height: 12vw;
  }
}


.menulist{
    list-style-type: none;
    position: relative;
    align-self: center;
    margin: 0;
}


.menulist li{
    cursor: pointer;
    position: relative;
    margin-bottom: 30px;
    text-shadow: 2px 2px 2px #000000;
    transition: 0.4s;
    border: 1px solid #561e96;
}


.menulist li p{
    position: absolute;
    margin: 10px;
    top: 0;
    left: 0;
}


.menulist li:hover{
    font-size: 1.1rem;
}
