
<div class="modalback" id="login_modal_back" style="display: none;">

    <div class="modalfront" id=login_modal_front>

        <div class="closeicon" onclick="toggle_visibility('login_modal_back')"></div>
        <h3>bejelentkezés</h3>

        <form action="/login" method="post">
            <label for="lusername">felhasználónév</label><br>
            <input type=text id="lusername" name="lusername"><br><br>
            <label for="lpassword">jelszó</label><br>
            <input type="password" id="lpassword" name="lpassword"><br><br>
            <input type="checkbox" id="remember_me" name="remember_me">
            <label for="remember_me">Emlékezz rám</label><br><br>
            <input type="submit" value="belépés">
        </form>

    </div>

</div>