<link href="/static/css/menubar.css" type="text/css" rel="stylesheet">

<!-- GOOGLED CODE -->

<div class="menu-container">

  <input type="checkbox" id="openmenu" class="hamburger-checkbox">

  <div class="hamburger-icon">
    <label for="openmenu" id="hamburger-label">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

    <div class="menu-pane">

      <nav>
          <div class="logo"></div>
          <button onclick="fetch_hello()" class="headerbutton">FETCH HELLO</button>
          <button onclick="toggle_visibility('signup_modal_back')" class="headerbutton">regisztráció</button>
          <button onclick="toggle_visibility('login_modal_back')" class="headerbutton">belépés</button>

      </nav>

    </div>

</div>