<div id="users" class="pane">

  <p>FELHASZNÁLÓK</p>

  {% for user in data %}
    <span class="collapsible">
      <span>

        <p style="display: inline; align-self: center;">{{ user['username'] }}</p>

        <span class="coll-icon-holder">
          <i class="fas fa-trash-alt coll-icon" onclick="deluser({{user.id}})"></i>
        </span>

        <span class="coll-icon-holder">
          <i class="fas fa-plus coll-icon"></i>
        </span>

      </span>
    </span>

    <div class="coll-content">

      <p> User id : {{user['id']}}</p>
      <p> User API key : {{user['apikey']}}</p>

      {% if not user['exercises']%}
        NO EXERCISES
      {% else %}
        {% for exercise in user['exercises'] %}
          {{exercise['name']}}
        {% endfor %}
      {% endif %}
      <br>
      {% if not user['competitors'] %}
        NO COMPETITORS
      {% else %}
        {% for competitor in user['competitors'] %}
          {{competitor['name']}}
        {% endfor %}
      {% endif %}

    </div><br>
  {% endfor %}


</div>