<div id="back" class="f-back">

  <div class="f-modalback" id="modalback">

    <div class="closeicon">
      <i class="fas fa-times" id="users_icon" onclick="hide_modalbar()"></i>
    </div>

    <div class="formholder">

      <p>TEST</p>
      <p>TEST2</p>
      <p>TEST3</p>
      <p>TEST4</p>
      <p>TEST5</p>
      <p>TEST6</p>
      <p>TEST7</p>

      <p>TEST</p>
      <p>TEST2</p>
      <p>TEST3</p>
      <p>TEST4</p>
      <p>TEST5</p>
      <p>TEST6</p>
      <p>TEST7</p>

      <p>TEST</p>
      <p>TEST2</p>
      <p>TEST3</p>
      <p>TEST4</p>
      <p>TEST5</p>
      <p>TEST6</p>
      <p>TEST7</p>

    </div>

  </div>

</div>