<div class="user-sidebar">

  <div class="logo"></div>

  <h1>MAIN MENU</h1>

  <ul class="menulist">

    <li>
      <p onclick="hide_sidebar()">BEÁLLÍTÁSOK</p>
    </li>
    <li>
      <p>GYAKORLATOK</p>
    </li>
    <li>
      <p>SOROZATOK</p>
    </li>
    <li>
      <p>VERSENYZŐK</p>
    </li>
    <li>
      <p>VERSENYEK</p>
    </li>
    <li onclick="location.href='/logout'">
      <p>KILÉPÉS</p>
    </li>

    <li onclick="fetch_hello()">
      <p>FETCH HELLO</p>
    </li>

  </ul>

</div>