<div class="user-sidebar">

  <div class="logo"></div>

  <h1>MAIN MENU</h1>

  <ul class="menulist">

    <li>
      <p onclick="switch_pane('settings_pane')">BEÁLLÍTÁSOK</p>
    </li>
    <li>
      <p onclick="switch_pane('exercises_pane')">GYAKORLATOK</p>
    </li>
    <li>
      <p onclick="switch_pane('workouts_pane')">SOROZATOK</p>
    </li>
    <li>
      <p onclick="switch_pane('competitors_pane')">VERSENYZŐK</p>
    </li>
    <li>
      <p onclick="switch_pane('contests_pane')">VERSENYEK</p>
    </li>
    <li>
      <p onclick="location.href='/logout'">KILÉPÉS</p>
    </li>

    <li>
      <p onclick="fetch_hello()">FETCH HELLO</p>
    </li>

  </ul>

</div>