<!DOCTYPE html>
<html lang="hu">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="geer26">

        <title>TabataBell - ADMIN!</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>

        <link href="/static/css/base.css" type="text/css" rel="stylesheet">
        <link href="static/css/modals.css" type="text/css" rel="stylesheet">
        <link href="static/css/admin.css" type="text/css" rel="stylesheet">

        <script src="/static/js/query-3.5.1.min.js"></script>
        <script src="/static/js/sortable.min.js"></script>
        <script src="/static/js/socket.io.js"></script>
        <script src="/static/js/admin.js"></script>

    </head>

    <body>

    <div class="grid-container">

        <div class="headermenu">

            <div class="logo" style="z-index:8889;"></div>

            <ul class="menulist">

                <li>
                    <i class="fas fa-user-friends menuicon" id="users_icon"></i>
                </li>

                <li>
                    <i class="fas fa-at menuicon" id="admins_icon"></i>
                </li>

                <li>
                    <i class="fas fa-sign-out-alt menuicon" onclick="location.href='/logout'"></i>
                </li>

            </ul>

        </div>

        <div class="content">

            {% include '/adminres/user_pane.html' %}
            {% include '/adminres/admin_pane.html' %}

        </div>

    </div>

    </body>

</html>