<!DOCTYPE html>
<html lang="hu">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="geer26">

        {% if title %}
        <title>{{ title }}</title>
        {% else %}
        <title>TabataBell!</title>
        {% endif %}

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>

        <link href="/static/css/userbase.css" type="text/css" rel="stylesheet">
        <link href="/static/css/modals.css" type="text/css" rel="stylesheet">

        <script src="/static/js/query-3.5.1.min.js"></script>
        <script src="/static/js/sortable.min.js"></script>
        <script src="/static/js/userbase.js" defer></script>

    </head>

    <body>

        {% include '/res/preloader.html' %}
        {% include '/userres/user_sidebar.html' %}

        <div class="maincontent" id="maincontent">
            HELLO WORLD!
        </div>

    </body>



</html>